html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.nav-item1 {
    cursor: pointer;
    background-color: #5a5656;
    border-radius: 10px;
    margin: 5px;
    object-fit: fill;
    align-content: baseline;
    align-items: center;
    width:fit-content;
    padding:10px;
}
    .nav-item1:hover {
        background-color: #138ef7;
    }

.nav-item2 {
    cursor: pointer;
    background-color: #5a5656;
    border-radius: 10px;
    margin: 5px;
    object-fit: fill;
    align-content: baseline;
    align-items: center;
    width: fit-content;
    padding: 10px;
}
    .nav-item2:hover {
        background-color: #138ef7;
    }

.nav-item3 {
    cursor: pointer;
    background-color: #5a5656;
    border-radius: 10px;
    margin: 5px;
    object-fit: fill;
    align-content: baseline;
    align-items: center;
    width: fit-content;
    padding: 10px;
}

    .nav-item3:hover {
        background-color: #138ef7;
    }

.nav-item4 {
    cursor: pointer;
    background-color: #5a5656;
    border-radius: 10px;
    margin: 5px;
    object-fit: fill;
    align-content: baseline;
    align-items: center;
    width: fit-content;
    padding: 10px;
}

.nav-item4:hover {
    background-color: #138ef7;
}

.text-center {
    background-color: #138ef7;
    border-radius: 5px;
    height: 200px;
    font-display: block;
    padding: 20px;
    margin-top: 100px;
    align-content: center;
    align-items: center;
}